@use "../abstract" as *;

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  //   border: 1px rgba(226, 8, 8, 0.37) solid;
}

body {
  box-sizing: border-box;
  background-color: $color-dirty-white;
}

img {
  display: block;
  width: 100%;
}
